/* Notes
Colors:
Brown: #a4755c
Green: #9c9c82
Peach: #d4b5a3
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {padding: 0;}

/* Temporary Styles
body, header, nav, section, div, footer, a {border: 1px solid #9c9c82} */

/* Universal Styles */
html {scroll-behavior: smooth;}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3c3b3a;
}

header {padding: 2% 5%;}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
}

h2, h3, h4, h5, h6 {margin-bottom: 0.5em;}

h2, h3 {font-size: 2.5rem;}
h5 {font-size: 2rem;}

p {margin-bottom: 1em;}

p:last-child {margin-bottom: 0;}

footer h2 {font-size: 2rem;}
footer h3, h4 {font-size: 1.2rem;}
footer p {font-weight: 200;}

/* Resable Utility Classes */
.center {text-align: center;}
.right {text-align: right;}

.padded-5 {padding: 5%;}
.padded-5-b {padding-bottom: 5%;}

.margin-b-1 {margin-bottom: 1em;}

.tall-80 {min-height: 80vh;}
.tall-60 {min-height: 60vh;}

.bg-brown {background-color: #a4755c;}
.bg-green {background-color: #9c9c82;}
.bg-peach {background-color: #d4b5a3;}

.text-light {color: white;}

.bold {font-weight: 600;}

/* Utility Classes */
.button-light {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 0.5em 1em;
    display: inline-block;
}

.button-dark {
    color: #3c3b3a;
    text-decoration: none;
    border: 2px solid #3c3b3a;
    padding: 0.5em 1em;
    display: inline-block;
}

.copyright {
    opacity: 0.8;
    padding: 1% 0;
}

/* Images */
.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-plant-r {
    background-image: url('/images/plant.jpg');
    background-position: 50% 32%;
}

.bg-meeting {
    background-image: url('/images/meeting.jpg');
    background-position: center;
}

.bg-plant-l {
    background-image: url('/images/plant-2.jpg');
    background-position: 50% 60%;
}

.bg-project {
    background-image: url('/images/placeholder-project.png');
    background-position: center;
    min-height: 80vh;
}

.icon {
    width: 50%;
    padding: 10%;
}

/* SM Media Query (48/768px */
@media (max-width: 48em) {
    .mob-bg-plant-r {
        background-image: url('/images/plant-light.png');
        background-position: 50% 50%;
    }
    .mob-bg-plant-l {
        background-image: url('/images/plant-2-light.png');
        background-position: center;
    }

    .mob-center {text-align: center;}
    .mob-margin-b-1 {margin-bottom: 1em;}

    .mob-padded-5 {padding: 5%;}
    
    .bg-project {min-height: 60vh;}
}

@media (max-width: 36em) {
    .flex-flip-xs {flex-direction: column-reverse;}

    .button {margin-bottom: 1em;}

    .mob-margin-t-1 {margin-top: 1em;}

}